name: Test build

on:
  push:
    branch: main

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: cachix/install-nix-action@v12
      with:
        nix_path: nixpkgs=channel:nixos-21.05

    - run: nix-build

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: tt-rss.raw
        path: result
        retention-days: 5
